rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to read, write, and delete their own files
    // in folders that match their UID.
    match /{userId}/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
